{% load static %}

<div id="musicplayer_id" {# data-turbo-permanent #} class="mejs_container text-white bg-dark bg-gradient p-2 d-none" data-controller="musicplayer">
  <div class="d-flex gap-3">
    <img src="{% static "img/gb.jpg" %}" alt="" data-musicplayer-target="image">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <h4 class="flex-grow-1 text-truncate" data-musicplayer-target="title">Song title</h4>
        <a class="float-end" style="cursor:pointer" data-action="musicplayer#hide">[Close]</a>
      </div>
      <audio controls width="100%" data-musicplayer-target="audio">
        <source src="{% static "music/mario-land.mp3" %}">
        Your browser does not support the audio tag.
      </audio>
    </div>
  </div>
</div>
