{% load static %}
{# <turbo-frame id="system_gb"> #}
<h2 class="mt-3">The Original Gameboy</h2>
<img src="{% static "img/gb.jpg" %}" class="float-end">
The Game Boy is an 8-bit fourth generation handheld game console developed and manufactured by Nintendo. It was first released in Japan on April 21, 1989, in North America later the same year, and in Europe in late 1990. It was designed by the same team that developed the Game & Watch series of handheld electronic games and several Nintendo Entertainment System (NES) games: Satoru Okada, Gunpei Yokoi, and Nintendo Research & Development 1.
{# </turbo-frame> #}
