{% load static %}
{# <turbo-frame id="system_gbp"> #}
<h2 class="mt-3">Gameboy Pocket</h2>
<img style="width:200px" src="{% static "img/gbp.jpg" %}" class="float-end">
<p>The Game Boy Pocket is the first redesigned version of the original Game Boy. Released in 1996, it has the features of its predecessor, but in a smaller and lighter form factor.</p>

<p>Another notable improvement over the original Game Boy is its true black-and-white display with reduced sprite blurring, rather than the "pea soup" monochromatic display of the original Game Boy. The Game Boy Pocket takes two AAA batteries versus the original's four AA batteries for roughly ten hours of gameplay. The Game Boy Pocket initially omitted the LED indicating battery levels, but it was added to later units in response to public demand.</p>
{# </turbo-frame> #}
