{% load static %}
{# <turbo-frame id="system_gbc"> #}
<h2 class="mt-3">Gameboy Color</h2>
<img src="{% static "img/gbc.jpg" %}" class="float-end">
<p>The Game Boy Color (commonly abbreviated as GBC) is an 8-bit handheld game console, manufactured by Nintendo, which was released in Japan on October 21, 1998 and to international markets that November. It is the successor to the Game Boy and is part of its product line. Critics like IGN consider it more akin to a hardware revision than a next generation product.</p>

<p>The handheld features a color screen rather than monochrome, but it is not backlit. It is slightly thicker and taller and features a slightly smaller screen than Game Boy Pocket, its immediate predecessor. As with the original Game Boy, it has a custom 8-bit processor made by Sharp that is considered a hybrid between the Intel 8080 and the Zilog Z80. The American English spelling of the system's name, Game Boy Color, remains consistent throughout the world.</p>

<p>The GBC is part of the fifth generation of video game consoles. The Game Boy and the Game Boy Color combined have sold 118.69 million units worldwide making them the fourth best-selling system of all time. Its best-selling games are Pokémon Gold and Silver, which shipped 23 million units worldwide.</p>
{# </turbo-frame> #}
