{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}PowerPlay{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {# <script src="{% static "js/turbo.es2017-umd.js" %}"></script> #}
    <script type="module" src="{% static "js/active_tab.js" %}"></script>
    <script type="module" src="{% static "js/musicplayer.js" %}"></script>
    <script type="module" src="{% static "js/bridgeform.js" %}"></script>

    {% block style %}
    {% endblock style %}

  <body>
    {% include "partials/music_player.html" %}
    <div class="wrapper">

  <div class="container-fluid header-color">

    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 d-none d-sm-flex">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none logo"></a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a data-turbo-action="replace" href="{% url "home" %}" class="nav-link px-2 link-dark">Home</a></li>
        <li><a data-turbo-action="replace" href="{% url "game_list" %}" class="nav-link px-2 link-dark">Game List</a></li>
        <li><a data-turbo-action="replace" href="{% url "guestbook" %}" class="nav-link px-2 link-dark">Guestbook</a></li>

          <form class="mb-0" action="{% url "game_list" %}" method="GET">
          <div class="input-group search-box">
              <input {# data-turbo-permanent id="searchBox" #} name="q" type="text" class="form-control" placeholder="Search">
              <button class="btn btn-primary" type="submit" id="button-addon2">
                <img class="search-icon" src="{% static "img/search.png" %}">
              </button>
          </div>
          </form>
      </ul>

    </header>
    </div>
  </div>


    <!-- Begin page content -->
    <main role="main" class="container mt-3">

      {# MESSAGES #}
      {% if messages %}
      <div class='row'>
          <div class='col-md-12'>
              {% for message in messages %}
              <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          </div>
      </div>
      {% endif %}

      {% block main %}
      {% endblock main %}
    </main>

    <footer class="footer">
      <div class="container">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url "game_list_slow" %}" class="nav-link px-2 link-dark">Game List Slow</a></li>
        <li><a href="{% url "infinite_scroller" %}" class="nav-link px-2 link-dark">Infinite Scroller</a></li>
        <li><a href="{% url "add_stylesheet" %}" class="nav-link px-2 link-dark">Add Stylesheet</a></li>
        <li><a href="{% url "sse_demo" %}" class="nav-link px-2 link-dark">Server-Side Events</a></li>
      </ul>

        <div class="text-muted text-center">GameGuide - {% now "Y" %}</div>
      </div>
    </footer>

  </div>
  <div class="sticky-footer d-sm-none">
    <a data-turbo-action="replace" href="{% url "home" %}" class="sticky-footer__item">
      <img src="{% static "img/house-solid.svg" %}">
      Home
    </a>
    <a data-turbo-action="replace" href="{% url "game_list" %}" class="sticky-footer__item">
      <img src="{% static "img/list-solid.svg" %}">
      Game List
    </a>
    <a data-turbo-action="replace" href="{% url "guestbook" %}" class="sticky-footer__item">
      <img src="{% static "img/signature-solid.svg" %}">
      Guestbook
    </a>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

{% block script %}
{% endblock script %}

</body></html>
