{% extends "base.html" %}
{% load demotags %}

{% block main %}
    <h1>Edit {{form.instance.title}}</h1>
    <form action="." method="POST" data-controller="bridgeform">
        {% csrf_token %}
        {{form.as_p|prettyform}}
        {% if not turbo_native %}
            <a href="javascript:history.back()" class="btn btn-outline-secondary">Back</a>
        {% endif %}
        <input type="submit" class="btn btn-primary" data-bridgeform-target="submit" data-bridge-title="Submit">
    </form>

{% endblock main %}
